.card {
    width: 360px;
    min-height: 633px;  
    display: flex;
    flex-direction: column;
    justify-content: space-between;  
    padding: 10px;   
    color: black;
    background-color: #fff;
    border: 1px solid gray;
    border-radius: 4px;
    box-shadow: var(--box-shadow);    
}

.book-img-container {
    min-height: 367px;
}

.book-img-container img{
    width: 100%;
}

.book-title {
    color: dodgerblue;
    text-shadow: var(--text-shadow);
}

.book-author {
    font-weight: 500;
}

.price-block {    
    display: flex;
    justify-content: space-between;
    font-weight: bold;   
}

.price-block span {
    font-size: 2rem;
    color: dodgerblue;
}

.viev-btn {
    padding: 0 2.5em;
}

.tooltip {
    position: relative;
}

.tooltip .tooltiptext {
    visibility: hidden; 
    position: absolute;
    z-index: 1;
    width: 100%;
    bottom: 120%;
    left: 50%;
    margin-left: -50%;   
    background-color: grey;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    opacity: 0;
    transition: opacity 1s;    
  }  
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

  .tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: grey transparent transparent transparent;
  }

  @media screen  and (max-width: 575px) {    
    .card {
        width: 320px;       
      }
    }

  @media screen  and (max-width: 320px) {    
    .card {
        width: 300px;
      }
}