* {
  box-sizing: border-box;
}

:root {
  font-size: 10px;
  --text-shadow: 1px 1px 1px black;
  --box-shadow: 0 2px 5px gray;
  --drop-shadow: drop-shadow(2px 2px 3px #333);
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
  background-color: lemonchiffon; 
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1600px;
  padding: 0 20px;
  margin: 0 auto;
}

image {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

main {
  padding-bottom: 90px;
}

@media screen and (max-width: 1599px) {
  .card {
      width: 31%;
  }
}

@media screen and (max-width: 991px) {
  .header-wrapper {        
      flex-direction: column;
      align-items: flex-start;
  }

  .authorisation-wrapper {        
      width: 100%;       
  }

  .card {
      width: 48%;
  }
}

@media screen and (max-width: 575px) {
  
  h1 {
      margin: 20px auto;
      font-size: 10vw;
  }

  .authorisation-wrapper {
      width: 100%;
      flex-direction: column;
  }

  .sub-heading {
      display: none;
  }

  .cart-block {
      display: flex;
      justify-content: space-evenly;
      margin: 0;
  }

  .cart-block__cart {        
      justify-content: space-around;       
  }
  
  .card {
      width: 100%;
  }
}

@media screen  and (max-width: 320px) {
  :root {
      font-size: 8px;
  }

  .wrapper {
      padding: 0 8px;
  }
}